  <header class="pf-bg-gray-800 pf-text-white pf-p-4">
    <div class="pf-container pf-mx-auto pf-flex pf-justify-between pf-items-center">
      <div class="logo">
        <a href="#" class="pf-text-2xl pf-font-bold">Your Logo</a>
      </div>
      <nav>
        <ul class="nav-list">
          <li (click)="scrollTo('hero-section')">Home</li>
          <li (click)="scrollTo('about-section')">About</li>
          <li (click)="scrollTo('projects-section')">Projects</li>
          <li (click)="scrollTo('contact-section')">Contact</li>
        </ul>
      </nav>
    </div>
  </header>
