<section id = "about">
    <h2 class="about pf-block sm:pf-hidden pf-text-slate-200 pf-tracking-widest pf-font-bold pf-text-sm pf-pb-8-px">ABOUT</h2>
    <div class="bio">
        <p>Back in college, I embarked on my journey in the world of tech, studying <span class="highlight">Information Science at RNS Institute of Technology</span>. Fast forward to today, and I'm an aspiring frontend engineer passionate about crafting seamless, accessible user experiences.</p>
        <p> My focus is on building interfaces that are as beautiful as they are functional, merging design with clean, efficient code. I most enjoy building software in the sweet spot where design and engineering meet — things that look good but are also built well under the hood.</p>
        
        <p>When I’m not at the computer, I’m usually reading, hanging out with my friends, or exploring new places, especially enjoying <span class="highlight">hiking</span> and <span class="highlight">photography</span> in the great outdoors. </p>
    </div>
</section>
  