<section id="experience">
        <div class="experience">
            <h2 class="about pf-block sm:pf-hidden pf-text-slate-200 pf-tracking-widest pf-font-bold pf-text-sm pf-pb-24-px pf-uppercase">Experience</h2>
            <div class="time">Aug 2023 — Nov 2023</div>
            <div class="role-container">
                <div>
                    <a href="https://capulustech.com/" class="role-company">
                        <h3>Software Engineering Intern .</h3>
                        <span class="arrow-attached">
                            Capulus Technologies Private Limited
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="pf-inline-block pf-h-4 pf-w-4 pf-shrink-0 pf-transition-transform hover:pf--translate-y-1 hover:pf-translate-x-1 focus-visible:pf--translate-y-1 focus-visible:pf-translate-x-1 motion-reduce:pf-transition-none pf-ml-1 pf-translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg>
                        </span>
                    </a>
                </div>
                <p class="paragraph">
                    Worked on the KSP Wallet project using Angular to develop responsive and interactive UI components for seamless user experience. Integrated PrimeNG and Angular Material to design and implement dynamic features, enhancing the interface and functionality of the application.
                </p>
                <ul class="buttons">
                    <li class="list">
                        <div class="btn">Angular</div>
                    </li>
                    <li class="list">
                        <div class="btn">Typescript</div>
                    </li>
                    <li class="list">
                        <div class="btn">PrimeNg</div>
                    </li>
                    <!-- <li class="list">
                        <div class="btn">JavaScript</div>
                    </li> -->
                </ul>
            </div>
        </div>
</section>