<section id="projects">
    <a href="https://github-user-repo-info.netlify.app/" class="pf-group">
        <div class="projects">
            <h2 class="about pf-block sm:pf-hidden pf-text-slate-200 pf-tracking-widest pf-font-bold pf-text-sm pf-pb-24-px pf-uppercase">Projects</h2>
            <img src="../../assets/images/github-user-search.png" alt="Github User Search Project" loading="lazy" width="200" height="48" class="image image pf-hidden md:pf-block" style="color: transparent;" decoding="async" data-nimg="1">
            <div class="role-container">
                <div>
                    <div class="role-company">
                        <span class="arrow-attached">
                            Github User Search 
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="pf-inline-block pf-h-4 pf-w-4 pf-shrink-0 pf-transition-transform hover:pf--translate-y-1 hover:pf-translate-x-1 focus-visible:pf--translate-y-1 focus-visible:pf-translate-x-1 motion-reduce:pf-transition-none pf-ml-1 pf-translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg>
                        </span>
                        </div>
                </div>
                <p class="paragraph">
                    The GitHub User Search application allows users to search for GitHub profiles. It displays the user’s profile details, including their repository details.
                </p>
                <ul class="buttons">
                    <li class="list">
                        <div class="btn">Angular</div>
                    </li>
                    <li class="list">
                        <div class="btn">Typescript</div>
                    </li>
                    <li class="list">
                        <div class="btn">Angular Material</div>
                    </li>
                    <!-- <li class="list">
                        <div class="btn">JavaScript</div>
                    </li> -->
                </ul>
                <img src="../../assets/images/github-user-search.png" alt="To Do List Project" loading="lazy" width="200" height="48" class="image  pf-block md:pf-hidden pf-mt-4 md:mt-0" style="color: transparent;" decoding="async" data-nimg="1">
            </div>
        </div>
    </a>
    <a href="https://todolist-v2-app.netlify.app/" class="pf-group">
        <div class="projects">
            <img src="../../assets/images/image.png" alt="To Do List Project" loading="lazy" width="200" height="48" class="image pf-hidden md:pf-block" style="color: transparent;" decoding="async" data-nimg="1">
            <div class="role-container">
                <div>
                    <div class="role-company">
                        <span class="arrow-attached">
                        To Do List
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="pf-inline-block pf-h-4 pf-w-4 pf-shrink-0 pf-transition-transform hover:pf--translate-y-1 hover:pf-translate-x-1 focus-visible:pf--translate-y-1 focus-visible:pf-translate-x-1 motion-reduce:pf-transition-none pf-ml-1 pf-translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg>
                        </span>
                    </div>
                </div>
                <p class="paragraph">
                Designed a To-Do List application using Angular and PrimeNG with functionality to add, edit, delete, search, and filter tasks by priority. Implemented task filtering by priority using PrimeNG components, along with search functionality, providing a smooth and  user experience for managing and prioritizing tasks.
                </p>
                <ul class="buttons">
                    <li class="list">
                        <div class="btn">Angular</div>
                    </li>
                    <li class="list">
                        <div class="btn">Typescript</div>
                    </li>
                    <li class="list">
                        <div class="btn">PrimeNG</div>
                    </li>
                    <!-- <li class="list">
                        <div class="btn">JavaScript</div>
                    </li> -->
                </ul>
                <img src="../../assets/images/image.png" alt="To Do List Project" loading="lazy" width="200" height="48" class="image  pf-block md:pf-hidden pf-mt-4 md:mt-0" style="color: transparent;" decoding="async" data-nimg="1">
            </div>
        </div>
    </a>
</section>