<div class="pf-flex pf-space-x-4 pf-mt-48-px">
   <a
     href="https://www.facebook.com/yourprofile"
     target="_blank"
     rel="noopener noreferrer"
     class="pf-text-blue-600 hover:text-blue-800 pf-transition-colors pf-duration-300"
   >
     <i class="fab fa-facebook-f fa-2x"></i>
   </a>
   <a
     href="https://x.com/_chirayup"
     target="_blank"
     rel="noopener noreferrer"
     class="pf-text-blue-400 pf-hover:text-blue-600 pf-transition-colors pf-duration-300"
   >
     <i class="fab fa-twitter fa-2x"></i>
   </a>
   <a
     href="https://www.linkedin.com/in/chirayup"
     target="_blank"
     rel="noopener noreferrer"
     class="pf-text-blue-700 pf-hover:text-blue-900 pf-transition-colors pf-duration-300"
   >
     <i class="fab fa-linkedin-in fa-2x"></i>
   </a>
   <a
     href="https://github.com/chirayu16"
     target="_blank"
     rel="noopener noreferrer"
     class="pf-text-gray-600 pf-hover:text-gray-700 pf-transition-colors pf-duration-300"
   >
     <i class="fab fa-github fa-2x"></i>
   </a>
   <a
     href="https://hi.com"
     target="_blank"
     rel="noopener noreferrer"
     class="pf-text-pink-500 pf-hover:text-pink-700 pf-transition-colors pf-duration-300"
   >
     <i class="fab fa-instagram fa-2x"></i>
   </a>
 
   <a
     href="mailto:chirayupo16@gmail.com"
     class="pf-text-gray-800 pf-hover:text-gray-600 pf-transition-colors pf-duration-300"
   >
     <i class="fas fa-envelope fa-2x"></i>
   </a>
 </div>