<div class="home-bg">
    <div class="parent-container">
        <div class="child-container1">
          <app-hero></app-hero>
          <app-nav class="pf-hidden sm:pf-block" ></app-nav>
          <app-contact></app-contact>
          <app-resume class="pf-block sm:pf-hidden"></app-resume>
        </div>
        <div class="child-container2 ">
            <app-about></app-about>
            <app-experience></app-experience>
            <app-projects></app-projects>
        </div>
    </div>
</div>
